name: balun
description: "Simple Flutter application for football scores."
publish_to: 'none'
version: 0.1.1

environment:
  sdk: '>=3.5.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  cached_network_image: 3.4.1
  cached_network_svg_image: 1.1.0
  calendar_date_picker2: 1.1.7
  dio: 5.7.0
  dio_cache_interceptor: 3.5.0
  dio_cache_interceptor_hive_store: 3.2.2
  easy_localization: 3.0.7
  flutter_animate: 4.5.0
  get_it: 8.0.2
  hive_ce: 2.7.0+1
  hive_ce_flutter: 2.1.0
  internet_connection_checker_plus: 2.5.2
  intl: 0.19.0
  logger: 2.4.0
  path_provider: 2.1.5
  package_info_plus: 8.1.0
  sliding_up_panel2: 3.3.0+1
  timeago: 3.7.0
  watch_it: 1.5.1

dev_dependencies:
  build_runner: 2.4.13
  envied_generator: 0.5.4+1
  flutter_launcher_icons: 0.14.1
  flutter_native_splash: 2.4.2
  hive_ce_generator: 1.7.0

flutter:
  uses-material-design: true
  assets:
    - assets/
    - assets/fonts/
    - assets/icons/
    - assets/translations/
  fonts:
    - family: Lufga
      fonts:
        - asset: assets/fonts/Lufga100.ttf
          weight: 100
        - asset: assets/fonts/Lufga200.ttf
          weight: 200
        - asset: assets/fonts/Lufga300.ttf
          weight: 300
        - asset: assets/fonts/Lufga400.ttf
          weight: 400
        - asset: assets/fonts/Lufga500.ttf
          weight: 500
        - asset: assets/fonts/Lufga600.ttf
          weight: 600
        - asset: assets/fonts/Lufga700.ttf
          weight: 700
        - asset: assets/fonts/Lufga800.ttf
          weight: 800
        - asset: assets/fonts/Lufga900.ttf
          weight: 900

# Run code generation - `dart run build_runner build -d`

# Configuration for 'flutter_launcher_icons'
# Run icon generation with 'dart run flutter_launcher_icons:main'
flutter_icons:
  android: true
  ios: true
  image_path: 'assets/icon.png'
  min_sdk_android: 21
  adaptive_icon_background: '#417B5A'
  adaptive_icon_foreground: 'assets/icon.png'
  web:
    generate: true
    image_path: 'assets/icon.png'
    background_color: '#417B5A'
    theme_color: '#417B5A'
  windows:
    generate: true
    image_path: 'assets/icon.png'
    icon_size: 48
  macos:
    generate: true
    image_path: 'assets/icon.png'

# Configuration for 'flutter_native_splash'
# Run splash screen generation with 'dart run flutter_native_splash:create'
flutter_native_splash:
  background_image: 'assets/splash.png'
  background_image_dark: 'assets/splash.png'
  android_12:
    image: 'assets/splash_icon.png'
    color: '#417B5A'
    image_dark: 'assets/splash_icon.png'
    color_dark: '#417B5A'
