name: balun
description: "Simple Flutter application for football scores."
publish_to: 'none'
version: 1.8.5+185

#
# DEPLOYING APP
# 1. `pubspec.yaml` -> Bump version number
# 2. `release_notes.txt` -> Update changelog for all languages
# 3. `default.txt` -> Update changelog for all languages
#

#
# Android
# `cd android/ && fastlane play_store_release`
#
# GitHub Releases
# `cd android/ && fastlane github_release`
#
# iOS
# `cd ios/ && fastlane app_store_release`
#

environment:
  sdk: 3.10.0

dependencies:
  flutter:
    sdk: flutter

  cached_network_image: 3.4.1
  cached_network_svg_image: 1.2.0
  collection: 1.19.1
  custom_refresh_indicator: 4.0.1
  dio: 5.9.0
  easy_localization: 3.0.8
  envied: 1.3.1
  flutter_animate: 4.5.2
  flutter_displaymode: 0.7.0
  flutter_native_splash: 2.4.7
  flutter_web_browser: 0.17.3
  get_it: 9.1.0
  hive_ce: 2.15.1
  hive_ce_flutter: 2.3.3
  internet_connection_checker_plus: 2.9.1
  intl: 0.20.2
  logger: 2.6.2
  package_info_plus: 9.0.0
  path_provider: 2.1.5
  sliding_up_panel2: 3.3.0+1
  timeago: 3.7.1
  url_launcher: 6.3.2
  video_player: 2.10.1
  visibility_detector: 0.4.0+2
  watch_it: 2.2.0
  youtube_player_flutter: 9.1.3

  calendar_date_picker2:
    git:
      url: https://github.com/jokilic/calendar_date_picker2.git
      ref: feature/on-value-changed-dialog

dev_dependencies:
  build_runner: 2.10.4
  envied_generator: 1.3.1
  flutter_launcher_icons: 0.14.4
  hive_ce_generator: 1.10.0

flutter:
  uses-material-design: true
  assets:
    - assets/
    - assets/fonts/
    - assets/icons/
    - assets/translations/
    - assets/videos/

  fonts:
    - family: Lufga
      fonts:
        - asset: assets/fonts/Lufga100.ttf
          weight: 100
        - asset: assets/fonts/Lufga200.ttf
          weight: 200
        - asset: assets/fonts/Lufga300.ttf
          weight: 300
        - asset: assets/fonts/Lufga400.ttf
          weight: 400
        - asset: assets/fonts/Lufga500.ttf
          weight: 500
        - asset: assets/fonts/Lufga600.ttf
          weight: 600
        - asset: assets/fonts/Lufga700.ttf
          weight: 700
        - asset: assets/fonts/Lufga800.ttf
          weight: 800
        - asset: assets/fonts/Lufga900.ttf
          weight: 900

# Run code generation - `flutter pub run build_runner build -d`

# Configuration for 'flutter_launcher_icons'
# Run icon generation with 'flutter pub run flutter_launcher_icons:main'
flutter_launcher_icons:
  image_path_android: 'assets/icon.png'
  image_path_ios: 'assets/icon.png'
  android: true
  ios: true
  adaptive_icon_background: "assets/background.png"
  adaptive_icon_foreground: "assets/splash_icon.png"
  adaptive_icon_foreground_inset: 16
  adaptive_icon_monochrome: "assets/monochrome.png"
  min_sdk_android: 21
  remove_alpha_ios: true
  background_color_ios: '#417B5A'
  image_path_ios_tinted_grayscale: "assets/icon_tinted.png"
  web:
    generate: true
    image_path: 'assets/icon.png'
    background_color: '#417B5A'
    theme_color: '#417B5A'
  windows:
    generate: true
    image_path: 'assets/icon.png'
    icon_size: 48
  macos:
    generate: true
    image_path: 'assets/icon.png'

# Configuration for 'flutter_native_splash'
# Run splash screen generation with 'flutter pub run flutter_native_splash:create'
flutter_native_splash:
  background_image: 'assets/splash.png'
  background_image_dark: 'assets/splash_dark.png'
  android_12:
    image: 'assets/splash_icon.png'
    color: '#417B5A'
    image_dark: 'assets/splash_icon.png'
    color_dark: '#17293C'
